body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Nunito';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ff7aab26;
    box-shadow: 2px 2px 8px #00000024;
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 42px;
    color: #FF7AAA;
    font-size: 16px;
    font-weight: 650;
}

nav ul li a:hover {
    color: #FF7AAA;
}

.logo {
    color: #AF3D0B;
    font-size: 20px;
    font-weight: bold;
}

span{
    color: #FF7AAA;
}

#home {
    width: 100%;
    height: 76vh;
    position: relative;
}

.home {
    margin: 80px;
    background-color: white;
    width: auto;
    height: auto;
    border: 2px solid #FF7AAA;
    border-radius: 24px;
    box-shadow: 2px 4px 16px #ffb6d1a0;
    padding: 50px;
    position: absolute;
    left: 10%;
    right: 10%;
    /* transform: translate(0,30%); */
}

.home p {
    line-height: 0px;
    margin: 40px 0px 25px;
    text-align: center;
}

.home p:nth-child(1) {
    font-weight: bold;
    color: #FF7AAA;
    font-size: 24px;
}

.home p:nth-child(2) {
    font-weight: 900;
    color: #FF7AAA;
    letter-spacing: none;
    font-size: 32px;
}

.home p:nth-child(3) {
    font-weight: 500;
    color: #FF7AAA;
    font-size: 20px;
    line-height: 30px;
}

.about {
    height: 80vh;
    background-color: #ffc2d94d;
    padding: 2% 10% 10%;
}

.about-desc {
    margin: 50 px 50 px;
    font-weight: 900;
    color: #FF7AAA;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 1px #00000024;
    margin-bottom: 35px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: #FF7AAA;
    margin: 0px;
    background-color: white;
    width: auto;
    height: auto;
    border: 2px solid #FF7AAA;
    border-radius: 24px;
    box-shadow: 2px 4px 16px #00000024;
    padding: 50px;
    position: absolute;
    left: 15%;
    right: 15%;
}

.row .column-1 img{
    width: 320px;
    height: auto;
    border-radius: 12px;
}

.row .column-2 p {
    text-align: left;
    color: #FF7AAA;
    margin-left: 32px;
}

/* Skill */
.projects {
    height: 76vh;
    background-color: #ffeaf210;
    padding: 2% 10% 10%;
}

.projects-desc {
    margin: 50 px 50 px;
}

.projects-desc p:nth-child(1) {
    font-weight: 900;
    color: #FF7AAA;
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
    text-shadow: 3px 3px 1px #00000024;
}

.projects-desc p:nth-child(2) {
    color: #FF7AAA;
    text-align: center;
}

.box-container {
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.box-1,
.box-2 {
    color: #FF7AAA;
    width: 350px;
    height: 350px;
    padding: 24px;
    border-radius: 24px;
    border: 2px solid #FF7AAA;
    text-align: center;
    box-shadow: 2px 4px 16px #00000024;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.box-1 img, .box-2 img{
    width: 240px;
    height: auto;
    border-radius: 12px;
    border: 1px solid #00000024;
    box-shadow: 1px 1px 2px #00000024;
    margin-bottom: 15px;
}

.box-1 p:nth-child(2), .box-2 p:nth-child(2){
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 0px;
}

.contact {
    height: 30vh;
    padding: 2% 10% 10%;
    background-color: #ffc2d94d;
}

.contact-title {
    margin: 50 px 50 px;
    font-weight: 900;
    color: #FF7AAA;
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
    text-shadow: 3px 3px 1px #00000024;
}

.box-contact {
    display: flex;
    /* text-align: left; */
    justify-content: space-around;
    width: auto;
    height: auto;
    background-color: white;
    box-shadow: 2px 4px 16px #00000024;
    border-color: #FF7AAA;
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    align-items: center;
    margin: 0px 10px;
}

.contact-1,.contact-2,.contact-3,a {
    color: #FF7AAA;
    text-align: center;
    text-decoration: none;
}

div p a:hover{
    color: #AF3D0B;
}